nav{
    background-color: #9cc6ee;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.text-white{
    color: white;
}

.text-bold {
    font-weight: bold;
}