
nav {
    /* background-color: #53A0E8; */
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    position: fixed;
    right: 0;
    left: 0;
}

.nav-items {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.hero {
    background-image: url(../Images/asset\ 3.jpeg);
    height: 100vh;
    background-size:cover;
    display: flex;
    flex-direction: row ;
    justify-content:space-between;
    align-items: center;

}
.bio {
    /* inline-size: 60%;
    overflow-wrap: break-word; */
    width: 60%;
    line-height: 2.0;
}

 .hero-content {
        width: 80%;
        margin: auto;
    }
.text-white {
    color: white;
}

.text-bold {
    font-weight: bold;
}
.hero-content h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size:xx-large;
    color:white;
}

.buttons {
    display: flex;
    flex-direction: row;
    gap: 12px; /* Adjust the space between buttons as needed */
    margin-top: 30px;
    border-radius: 1%;
    justify-content: flex-start; /* Keep buttons together at the start */
    border-color: black;
    /* background-color: blue; */
}

buttons button,
.buttons a {
    background-color: blue;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    text-decoration: none; /* For <a> tags */
    cursor: pointer;
}
